@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --primary-color: #ff5400;
  --Dark-02: #424247;
}

header,main,footer{
  font-family: "Mulish", sans-serif;
}

/* shared styles */

.color-primary {
  color: var(--primary-color);
}
.text-primary {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  margin-bottom: 24px;
}
.heading-primary {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.title-primary {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.text-secondary {
  color: #5a5a5d;
  line-height: 26px;
}
.button-primary {
  background-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 14px 35px;
  border-radius: 8px;
  flex-shrink: 0;
  text-align: center;
  border: none;
}

/* nav styles */
header,
main {
  margin: 0 auto;
  width: 81.25%;
  max-width: 1440px;
}
.navbar {
  padding: 50px 0;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.logo-container img {
  width: 48px;
  width: 56px;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.logo-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.menu-items {
  display: flex;
  gap: 44px;
}
.menu-items li {
  list-style-type: none;
}
.menu-items li a {
  text-decoration: none;
  color: var(--Dark-02);
  font-size: 18px;
}

.banner-section {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group-13.png");
  height: auto;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
.banner {
  width: 68%;
  margin: 0 auto;
}

.banner-section {
  padding: 106px 0;
}

.banner-content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.banner-content p {
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-bottom: 48px;
}
.banner-form {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-form div {
  width: 100%;
  flex-grow: 1;
}
.banner-form form {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.banner-form input,
.banner-form select {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
  outline: none;
  color: rgba(19, 19, 24, 0.5);
  padding-left: 15px;
}

/* popular tour section */
.popular-tour {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.popular-tour-content {
  width: 50%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-tour-img {
  width: 45%;
  height: auto;
}
.popular-tour-img img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.popular-tour-content ul li {
  list-style-position: inside;
  margin-bottom: 16px;
}
.popular-tour-content ul li:last-child {
  margin-bottom: 24px;
}

/* top places to visit */
.top-places-section{
  margin-top: 100px;
}

.top-places-img-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}

.top-places-img{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-places-img .image-content{
  position: absolute;
  background-color: #fff;
  opacity: 0.90;
  bottom: 50px;
  padding: 14px;
  border-radius: 16px;
  width: 90%;
}


.image-content p{
  padding-bottom: 12px;
}
.image-content button{
  width: 100%;
}
.top-places-img img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}
.image-hover-content{
  display: none;
}
.image-content h3{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.top-places-img:hover .image-hover-content {
  display: block;
}
.top-places-img:hover .image-content h3{
  text-align: left;
  padding-bottom: 10px;
}

.choose-dest-section {
  margin-top: 100px;
}
.choose-dest-content {
  text-align: center;
  width: 60%;
  margin: auto;
}

.choose-dest-img .row-1 {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 24px;
}
.row-1 img {
  width: 100%;
  height: 100%;
}

.choose-dest-img .row-2 {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  gap: 24px;
  margin-top: 24px;
}

.row-2 img {
  width: 100%;
  height: 100%;
}

.choose-dest-img .row-3 {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 24px;
  margin-top: 24px;
}

.row-3 img {
  width: 100%;
  height: 100%;
}

.choose-dest-img .row-1 div,
.choose-dest-img .row-2 div,
.choose-dest-img .row-3 div {
  position: relative;
}

.img-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  transform: translate(-50%, -50%);
}

.choose-us-section {
  margin-top: 100px;
}
.choose-us-content {
  width: 60%;
  margin: auto;
}
.choose-us-content > h1,
.choose-us-content > p {
  text-align: center;
}

.choose-us-box-content{
  padding-top: 24px;
}
.choose-us-box-content .box-row-1{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}
.choose-us-box-content .box-row-2{
  display: flex;
  justify-content: center;
}
.box {
  width: 48.9%;
  border-radius: 16px;
  padding: 32px;
}
.box img{
  width: 64px;
  height: 64px;
  margin-bottom: 32px;
}
.box-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.box-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.box-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.newsletter-section{
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
  margin-top: 100px;

}
.newsletter-content p{
  margin-bottom: 24px;
}
.newsletter-content{
  width: 40.5%;
  padding: 40px;
  border: 1px solid #ff5400;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-img{
  width: 57.5%;
  position: relative;
}
.newsletter-img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 16px;
  
}
.newsletter-discount-box{
  position: absolute;
  bottom: 47px;
  right: 5px;
  transform: rotate(-20deg);
  z-index: 100;
  border-radius: 16px;
  background: #FF5400;
  padding: 16px 32px;
}
.newsletter-discount-box p{
  color: #FFF;
  text-align: center;
  font-size: 24px;
}
.newsletter-discount-box h3{
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
}
.newsletter-form{
  border-top: 1px solid rgba(19, 19, 24, 0.10);
  padding-top: 24px;
  width: 100%;
}
.newsletter-form input{
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  outline: none;
  padding: 16px 20px;
  display: block;
  margin-bottom: 16px ;
}
.newsletter-form button{
  width: 100%;
  margin-top: 8px;
}


/* footer styles */
footer{
  background-color: rgba(19, 19, 24, 0.05);
  margin-top: 100px;
}
.footer-section{
  width: 61%;
  margin: auto;
  padding: 110px 0;
}
.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 15px;
}
.footer-logo h1{
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
.footer-content p{
  text-align: center;
  padding: 0 6%;
}
.footer-logo .footer-img{
  width: 40px;


}
.footer-img img{
  width: 100%;
  display: flex;
}
.footer-social-links{
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(19, 19, 24, 0.10);

  ;


}
.footer-social-links i{
  transform: scale(1.3);
}

.footer-section .copyright-text p{
  color: #131318;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
}












/* medium screen size */

@media screen and (max-width: 1120px) {
  .banner-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
  }
  .banner-content h1 {
    font-size: 52px;
  }
  .image-content h3{
    font-size: 18px;
  }
}

/* tablet styles */

@media screen and (max-width: 992px) {
  .banner-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
  }
  .banner-content h1 {
    font-size: 38px;
  }

  .text-primary {
    margin-bottom: 18px;
    font-size: 14px;
  }
  .heading-primary {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .popular-tour-content ul li {
    margin-bottom: 12px;
  }

  .popular-tour-content ul li:last-child {
    margin-bottom: 14px;
  }
  .newsletter-content{
    padding: 32px;
  }
  .top-places-img-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }

  /* navbar styles hamburger menu  */

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
    padding: 15px 0;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 36px;
    width: 37px;
    top: 18px;
    right: 0;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    width: 36px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 25px;
    padding-bottom: 10px;
    background: #fff;
    width: 180px;
    transform: translateX(-150%);
    flex-direction: column;
    gap: 10px;
    margin-left: -6%;
    padding-left: 6%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items li{
    padding: 10px 0;
  }
  .navbar .menu-items li a{
    
    font-size: 16px;
  }
  .logo {
    font-size: 3rem;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 720px) {
  .popular-tour {
    flex-direction: column;
    gap: 23px;
  }
  .popular-tour-content {
    width: 100%;
  }
  .popular-tour-img {
    width: 100%;
  }
  .banner-content h1 {
    font-size: 36px;
  }
  .banner-section {
    padding: 60px 0;
  }
  .banner-form form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .top-places-img-content{
    grid-template-columns: repeat(1,1fr);
    gap: 12px;
  }
  .top-places-section{
    margin-top: 32px;
  }
  .choose-dest-img img {
    height: 176px;
    width: 100%;
  }
  .choose-us-box-content .box-row-1{
    flex-direction: column;
  }
  .choose-dest-section,.popular-tour,.choose-us-section{
    margin-top: 32px;
  }
  .choose-us-box-content .box{
    width: 100%;
  }
  .choose-us-content,.choose-dest-content {
    width: 100%;
    padding: 0 32px;
  }
  .choose-dest-img .row-1,
  .choose-dest-img .row-2,
  .choose-dest-img .row-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    object-fit: cover;
  }
  .newsletter-section{
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
  }
  .newsletter-content{
    width: 100%;
  }
  
  .newsletter-img {
    width: 100%;
  }
  .newsletter-img img{
    width: 100%;
    height: 335px;
  }


  .newsletter-discount-box p{
    font-size: 16px;
  }
  .newsletter-discount-box h3{
    font-size: 24px;
  }



  footer{
    margin-top: 33px ;
  }
  .footer-section{
    width: 90%;
    padding: 33px 10px;
  }
  .footer-content h1{
    font-size: 21.5px;
  }
  .footer-content p{
    font-size: 14px;
  }
  .footer-social-links{
    padding: 24px 0;
  }
  .footer-section .copyright-text p{
    font-size: 14px;
    margin-top: 24px;
  }
  
}

/* mobile styles */

@media screen and (max-width: 600px) {
 
  /* shared styles */
  
  .title-primary {
    font-size: 20px;
  }
  .text-secondary {
    font-size: 14px;
    line-height: 24px;
  }
  /* nav styles */

  header,
  main {
    margin: 0 auto;
    width: 89.3%;
  }
  .navbar {
    padding: 20px 0;
  }
  .logo h1 {
    font-size: 22px;
  }
  .logo-container img {
    width: 29px;
    width: 34px;
  }
  .navbar-container input[type="checkbox"] {
    height: 30px;
    width: 32px;
    top: 15px;
  }
  .navbar-container .hamburger-lines {
    width: 24px;
    gap: 5px;
  }
  .navbar-container .hamburger-lines .line {
    height: 3px;
  }

  /* banner styles */
  .banner-section {
    padding: 32px 0;
  }
  .banner {
    width: 95%;
    margin: 0 auto;
  }
  .banner-content h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .banner-content p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;
  }

  .banner-form {
    width: 90%;
    margin: auto;
  }
  .banner-form input,
  .banner-form select {
    width: 100%;
  }

  .banner-form a {
    background-color: var(--primary-color);
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 14px 35px;
    border-radius: 8px;
  }

  .banner-form form {
    flex-wrap: wrap;
  }
  .text-primary {
    line-height: 24px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .heading-primary {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .popular-tour-content ul li {
    margin-bottom: 12px;
  }
  .popular-tour-content ul li:last-child {
    margin-bottom: 14px;
  }

  .img-title{
    font-size: 20px;
    font-weight: 700;
  }

  .box img{
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }

}
